<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑案例</title>
    <link rel="shortcut icon" href="__cIMG__/favicon.ico">
    <link rel="Bookmark" href="__cIMG__/favicon.ico">
    <link href="/public/static/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__aCSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__aCSS__/animate.min.css" rel="stylesheet">
    <link href="__aCSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__aCSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="__aCSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" href="__aCSS__/plugins/switchery/switchery.css" >
    <link href="__aCSS__/common.css" rel="stylesheet">
    <style>
        .helf_hr{
            width: 70%;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑案例</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>-->
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row text-center">
                        <div class="alert alert-success" role="alert">
                            <div class="alert-link"> "即将呈现"的案例只需填写标题、选择类型、上传封面</div>
                        </div>
                    </div>

                    <form class="form-horizontal m-t">
                        <div class="col-sm-5">
                            <div class="form-group hidden">
                                <label class="col-sm-4 control-label"> 案例id：</label>
                                <div class="input-group col-sm-7">
                                    <input id="id" type="text" class="form-control" name="id" required="" aria-required="true" value="{$data.id}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 案例标题：</label>
                                <div class="input-group col-sm-7">
                                    <input id="title" type="text" class="form-control" name="title" required="" aria-required="true" value="{$data.title}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 植入品牌：</label>
                                <div class="input-group col-sm-7">
                                    <input id="customer" type="text" class="form-control" name="customer" required="" aria-required="true" value="{$data.customer}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 植入产品：</label>
                                <div class="input-group col-sm-7">
                                    <input id="product" type="text" class="form-control" name="product" required="" aria-required="true" value="{$data.product}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 首播平台：</label>
                                <div class="input-group col-sm-7">
                                    <input id="platform" type="text" class="form-control" name="platform" required="" aria-required="true" value="{$data.platform}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 主演：</label>
                                <div class="input-group col-sm-7">
                                    <input id="actors" type="text" class="form-control" name="actors" required="" aria-required="true" value="{$data.actors}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"> 收视率：</label>
                                <div class="input-group col-sm-7">
                                    <input id="rating" type="text" class="form-control" name="rating" value="{$data.rating}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"> 网络播放量：</label>
                                <div class="input-group col-sm-7">
                                    <input id="web_rating" type="text" class="form-control" name="web_rating" value="{$data.web_rating}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"> 获奖情况：</label>
                                <div class="input-group col-sm-7">
                                    <input id="prize" type="text" class="form-control" name="prize" value="{$data.prize}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 首播时间：</label>
                                <div class="input-group col-sm-7">
                                    <input id="time" placeholder="日期" name="time" class="laydate-icon form-control" onclick="laydate()" required="" aria-required="true" value="{$data.time}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 所属类型：</label>
                                <div class="input-group col-sm-7">
                                    <select id="type" class="form-control" name="type" required="" aria-required="true">
                                        {volist name="type_name_map" id="vo"}
                                        <option value="{$key}" {if condition="$data['type'] eq $key"}selected{/if}>{$vo.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="必填项，同一类型下最多有3个案例首页显示"></i> 是否首页显示：</label>
                                <div class="input-group col-sm-7">
                                    <input type="checkbox" class="js-switch js-check-click" {if condition='$data.is_classical==1'}checked{/if} />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"> 内容等级：</label>
                                <div class="input-group col-sm-7">
                                    <input id="rank" type="text" class="form-control" name="rank" value="{$data.rank}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 内容描述：</label>
                                <div class="input-group col-sm-7">
                                    <textarea id="content" type="text" class="form-control" name="content" rows="10" cols="1" required="" aria-required="true" >{$data.content}</textarea>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-7">

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="必填项，照片宽高为690*388像素"></i></label>
                                <div class="input-group col-sm-7">
                                    <span class="btn btn-primary btn-file">
                                        上传封面<input id="photo" type="file" multiple="multiple">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group photo-read">
                                <label class="col-sm-2 control-label"></label>
                                <div class="input-group col-sm-7">
                                    <div class="thumbnail">
                                        <img src="__UPLOADS__/{$data.photo}" name="photo" id="photo-r">
                                    </div>
                                </div>

                            </div>
                            <hr class="helf_hr">

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="照片宽高为690*388像素"></i></label>
                                <div class="input-group col-sm-7">
                                    <span class="btn btn-warning btn-sm btn-file">
                                        上传详情图1<input id="photo1" type="file" multiple="multiple">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group photo-read">
                                <label class="col-sm-2 control-label"></label>
                                <div class="input-group col-sm-7">
                                    <div class="thumbnail">
                                        <img src="__UPLOADS__/{$data.photo1}" name="photo" id="photo-r-1">
                                    </div>
                                </div>

                            </div>
                            <hr class="helf_hr">

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="照片宽高为690*388像素"></i></label>
                                <div class="input-group col-sm-7">
                                    <span class="btn btn-warning btn-sm btn-file">
                                        上传详情图2<input id="photo2" type="file" multiple="multiple">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group photo-read">
                                <label class="col-sm-2 control-label"></label>
                                <div class="input-group col-sm-7">
                                    <div class="thumbnail">
                                        <img src="__UPLOADS__/{$data.photo2}" name="photo" id="photo-r-2">
                                    </div>
                                </div>

                            </div>
                            <hr class="helf_hr">

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="照片宽高为690*388像素"></i></label>
                                <div class="input-group col-sm-7">
                                    <span class="btn btn-warning btn-sm btn-file">
                                        上传详情图3<input id="photo3" type="file" multiple="multiple">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group photo-read">
                                <label class="col-sm-2 control-label"></label>
                                <div class="input-group col-sm-7">
                                    <div class="thumbnail">
                                        <img src="__UPLOADS__/{$data.photo3}" name="photo" id="photo-r-3">
                                    </div>
                                </div>

                            </div>
                            <hr class="helf_hr">

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="照片宽高为690*388像素"></i></label>
                                <div class="input-group col-sm-7">
                                    <span class="btn btn-warning btn-sm btn-file">
                                        上传详情图4<input id="photo4" type="file" multiple="multiple">
                                    </span>
                                </div>
                            </div>
                            <div class="form-group photo-read">
                                <label class="col-sm-2 control-label"></label>
                                <div class="input-group col-sm-7">
                                    <div class="thumbnail">
                                        <img src="__UPLOADS__/{$data.photo4}" name="photo" id="photo-r-4">
                                    </div>
                                </div>

                            </div>


                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label"></label>
                            <div class="col-sm-2 control-label">
                                <button class="btn btn-primary sub">提交</button>
                                <a class="btn btn-default cancel" href="{:url('lists')}">取消</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="__aJS__/jquery.min.js?v=2.1.4"></script>
<script src="__aJS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__aJS__/content.min.js?v=1.0.0"></script>
<script src="__aJS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__aJS__/plugins/validate/messages_zh.min.js"></script>
<script src="__aJS__/plugins/iCheck/icheck.min.js"></script>
<script src="__aJS__/plugins/sweetalert/sweetalert.min.js"></script>
<script src="__aJS__/plugins/layer/laydate/laydate.js"></script>
<script src="__aJS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__aJS__/plugins/layer/layer.min.js"></script>
<script src="__aJS__/plugins/switchery/switchery.js"></script>
<script type="text/javascript">

    //表单验证
    $(document).ready(function(){
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
    });
    $.validator.setDefaults({
        highlight: function(e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        },
        success: function(e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        },
        errorElement: "span",
        errorPlacement: function(e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });

</script>
<script>
    $(function () {
        var jz;
        var up_path = '__UPLOADS__';
        var up_path_length = parseInt(up_path.length)+1;

        $('[data-toggle="tooltip"]').tooltip();

        $('#photo').on('change',function(){
            //创建数据对象
            var data = new FormData();

            //判断前一张
            var last_photo_path = $('#photo-r').attr('src');


            if(last_photo_path.length>0){
                data.append('last_photo_path',last_photo_path.substring(up_path_length));//添加上一张照片路径属性
            }
            var file = $(this)[0].files[0];
            data.append('upload_file',file);

            /*$.each($(this)[0].files,function(i,file){//添加图片
             data.append('upload_file'+i,file);
             });*/

            $.ajax({
                url: "{:url('addPhoto')}",
                datatype: "json",
                data:data,
                type: "POST",
                cache:false,
                contentType:false,
                processData:false,
                beforeSend:function(){
                    jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                error: function(request) {
                    layer.close(jz);
                    swal("网络错误!", "", "error");
                },
                success: function(data) {
                    //关闭加载层
                    layer.close(jz);
                    if(data.code == 1){
                        /*console.log(data);*/
                        var photo_path='__UPLOADS__/'+data.data;
                        $('#photo-r').attr('src',photo_path);
                        /*swal(data.msg, "", "success");*/
                    }else{
                        swal(data.msg, "", "error");
                    }

                }
            });
        });//异步上传图片代码


        $('#photo1').on('change', function () {
            uploadPhoto($(this),1);
        });
        $('#photo2').on('change', function () {
            uploadPhoto($(this),2);
        });
        $('#photo3').on('change', function () {
            uploadPhoto($(this),3);
        });
        $('#photo4').on('change', function () {
            uploadPhoto($(this),4);
        });

        function uploadPhoto(obj,num) {
            var photo_read = obj.parents('.form-group').next();
            var photo_r = photo_read.find('img');

            //创建数据对象
            var data = new FormData();

            //判断前一张
            var last_photo_path = photo_r.attr('src');

            if(last_photo_path.length>0){
                data.append('last_photo_path',last_photo_path.substring(up_path_length));//添加上一张照片路径属性
                data.append('num',num);
            }
            var file = obj[0].files[0];
            data.append('upload_file',file);

            /*$.each($(this)[0].files,function(i,file){//添加图片
             data.append('upload_file'+i,file);
             });*/

            $.ajax({
                url: "{:url('addDetailPhoto')}",
                datatype: "json",
                data:data,
                type: "POST",
                cache:false,
                contentType:false,
                processData:false,
                beforeSend:function(){
                    jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                error: function(request) {
                    layer.close(jz);
                    swal("网络错误!", "", "error");
                },
                success: function(data) {
                    //关闭加载层
                    layer.close(jz);
                    if(data.code == 1){
                        console.log(data);
                        var photo_path='__UPLOADS__/'+data.data;
                        photo_r.attr('src',photo_path);
                        photo_read.removeClass('hidden');
                        /*swal(data.msg, "", "success");*/
                    }else{
                        swal(data.msg, "", "error");
                    }

                }
            });

        }

        function getSrc(img) {
            var src_length = img.attr('src').length;
            if (src_length > 0) {
                return img.attr('src').substring(up_path_length);
            }
            else {
                return '';
            }
        }

        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {color: '#1ab394'});
        var clickCheckbox = document.querySelector('.js-check-click');

        /*提交*/
        $('.sub').click(function () {
            var url = "{:url('casesEdit')}";

            if (clickCheckbox.checked) {
                var is_classical = 1;
            }
            else {
                is_classical = 0;
            }

            var path = $('#photo-r').attr('src').substring(up_path_length),
                    path1 = getSrc($('#photo-r-1')),
                    path2 = getSrc($('#photo-r-2')),
                    path3 = getSrc($('#photo-r-3')),
                    path4 = getSrc($('#photo-r-4')),
                    id = $('#id').val(),
                    title = $('#title').val(),
                    customer = $('#customer').val(),
                    product = $('#product').val(),
                    platform = $('#platform').val(),
                    actors = $('#actors').val(),
                    rating = $('#rating').val(),
                    web_rating = $('#web_rating').val(),
                    prize = $('#prize').val(),
                    rank = $('#rank').val(),
                    time = $('#time').val(),
                    type = $('#type').val(),
                    content = $('#content').val()
                    ;
            if (path.length <= 0) {
                swal("封面不能为空!", "", "error");
                return false;
            }
            if (title.length <= 0) {
                swal("标题不能为空!", "", "error");
                return false;
            }
            var data = {
                id:id,
                title:title,
                customer:customer,
                product:product,
                platform:platform,
                actors:actors,
                rating:rating,
                web_rating:web_rating,
                prize:prize,
                is_classical:is_classical,
                rank:rank,
                time:time,
                type:type,
                content:content,
                photo:path,
                photo1:path1,
                photo2:path2,
                photo3:path3,
                photo4:path4
            };
            $.ajax({
                type:"POST",
                url:url,
                data:data,
                async: false,
                beforeSend:function(){
                    jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                error: function(request) {
                    layer.close(jz);
                    swal("网络错误!", "", "error");
                },
                success: function(data) {
                    //关闭加载层
                    layer.close(jz);
                    if(data.code == 1){
                        swal(data.msg, "", "success");
                        setTimeout(function () {
                            location.href = "{:url('cases/lists')}";
                        }, 1000);
                    }else{
                        swal(data.msg, "", "error");
                    }

                }
            });

            return false;
        });
    });
</script>
</body>
</html>
