<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加新闻</title>
    <link rel="shortcut icon" href="__cIMG__/favicon.ico">
    <link rel="Bookmark" href="__cIMG__/favicon.ico">
    <link href="__aCSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__aCSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__aCSS__/animate.min.css" rel="stylesheet">
    <link href="__aCSS__/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="__aCSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="__aCSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <!-- simditor-->
    <link href="__aCSS__/plugins/simditor/simditor.css" rel="stylesheet">
    <link rel="stylesheet" href="__aCSS__/plugins/simditor/simditor-emoji.css" >
    <link rel="stylesheet" href="__aCSS__/plugins/simditor/simditor-markdown.css" >

    <link rel="stylesheet" href="__aCSS__/plugins/switchery/switchery.css" >
    <link href="__aCSS__/common.css" rel="stylesheet">
    <style>
        .simditor .simditor-body, .editor-style {

            max-height: 500px;
            max-width: 900px;
            overflow: auto;
        }
        .simditor .simditor-body img{
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加新闻</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <!--<a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>-->
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 新闻标题：</label>
                                <div class="input-group col-sm-7">
                                    <input id="title" type="text" class="form-control" name="title" required="" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> 新闻链接：</label>
                                <div class="input-group col-sm-7">
                                    <input id="link" type="text" class="form-control" name="link">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 新闻时间：</label>
                                <div class="input-group col-sm-7">
                                    <input id="time" placeholder="日期" name="time" class="laydate-icon form-control" onclick="laydate()" required="" aria-required="true">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-original-title="非必填项，照片宽高为621*300像素，注：如果上传封面的新闻同时推荐到前台首页展示，并被置顶的情况下，该新闻封面会展示在前台"></i> 上传封面：</label>
                                <div class="input-group col-sm-7">
                                    <span class="btn btn-primary btn-file">
                                        上传<input id="photo" type="file" multiple="multiple" >
                                    </span>
                                </div>
                            </div>
                            <div class="form-group hidden photo-read">
                                <label class="col-sm-2 control-label"> 预览：</label>
                                <div class="input-group col-sm-4">
                                    <div class="thumbnail">
                                        <img src="" name="photo" id="photo-r">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> 是否首页显示：</label>
                                <div class="input-group col-sm-7">
                                    <input type="checkbox" class="js-switch js-send-click" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> 是否置顶：</label>
                                <div class="input-group col-sm-7">
                                    <input type="checkbox" class="js-switch js-top-click" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i class="fa fa-info-circle" data-toggle="tooltip" data-placement="left" data-original-title="必填项"></i> 内容描述：</label>
                                <div class="input-group col-sm-9">
                                    <textarea id="discrpte" type="text" class="form-control" name="discrpte" rows="3" cols="1" required="" aria-required="true" autofocus></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"> 内容详情：</label>
                                <div class="input-group col-sm-9">
                                    <textarea id="content" type="text" class="form-control" name="content" style="overflow: hidden" rows="10" cols="1" autofocus></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <button class="btn btn-primary sub" >提交</button>
                                <button class="btn btn-default cancel" >取消</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="__aJS__/jquery.min.js?v=2.1.4"></script>
<script src="__aJS__/bootstrap.min.js?v=3.3.6"></script>
<script src="__aJS__/content.min.js?v=1.0.0"></script>
<script src="__aJS__/plugins/validate/jquery.validate.min.js"></script>
<script src="__aJS__/plugins/validate/messages_zh.min.js"></script>
<script src="__aJS__/plugins/iCheck/icheck.min.js"></script>
<script src="__aJS__/plugins/sweetalert/sweetalert.min.js"></script>

<script src="__cJS__/jquery.charactercounter.js"></script>

<script src="__aJS__/plugins/simditor/module.js"></script>
<script src="__aJS__/plugins/simditor/hotkeys.js"></script>
<script src="__aJS__/plugins/simditor/uploader.js"></script>
<script src="__aJS__/plugins/simditor/simditor.js"></script>
<script src="__aJS__/plugins/simditor/simditor-emoji.js"></script>
<script src="__aJS__/plugins/simditor/simditor-mark.js"></script>
<script src="__aJS__/plugins/simditor/marked.js"></script>
<script src="__aJS__/plugins/simditor/to-markdown.js"></script>
<script src="__aJS__/plugins/simditor/simditor-markdown.js"></script>
<script src="__aJS__/plugins/simditor/simditor-marked.js"></script>
<script src="__aJS__/plugins/simditor/simditor-dropzone.js"></script>

<script src="__aJS__/plugins/layer/laydate/laydate.js"></script>
<script src="__aJS__/plugins/suggest/bootstrap-suggest.min.js"></script>
<script src="__aJS__/plugins/layer/layer.min.js"></script>
<script src="__aJS__/plugins/switchery/switchery.js"></script>
<script type="text/javascript">

    //表单验证
    $(document).ready(function(){
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
    });
    $.validator.setDefaults({
        highlight: function(e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        },
        success: function(e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        },
        errorElement: "span",
        errorPlacement: function(e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });

</script>
<script>
    var is_send = '{:app\\common\\controller\\Sys::NEWS_IS_SEND}';
    $(function () {
        var jz;
        /*编辑工具初始化*/
        var editor = new Simditor({
            textarea: $('#content'),
            placeholder: '请输入内容...',
            toolbar: ['marked','markdown','mark','title', 'bold', 'italic', 'underline', 'strikethrough', 'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent' ,'alignment', 'emoji'],
            emoji: {
                imagePath: '__aIMG__/emoji/'
            },
            upload: {
                url: "{:url('addEditorPhoto')}", //文件上传的接口地址
                params: null, //键值对,指定文件上传接口的额外参数,上传的时候随文件一起提交
                fileKey: 'upload_file', //服务器端获取文件数据的参数名
                connectionCount: 3,
                leaveConfirm: '正在上传文件'
            }
        });

        /*限制输入字数（60字）*/
        $('#discrpte').limitTextarea({
            maxNumber: 60, //最大字数
            position: 'bottom', //提示文字的位置，top：文本框上方，bottom：文本框下方
            onOk: function() {
                /*$('#discrpte').css('background-color', 'white');*/
            }, //输入后，字数未超出时调用的函数
            onOver: function() {
                $('#discrpte').css('background-color', 'lightpink');
            } //输入后，字数超出时调用的函数，这里把文本区域的背景变为粉红色
        });

        /*tooltip init*/
        $('[data-toggle="tooltip"]').tooltip();

        /*上传封面*/
        var up_path = '__UPLOADS__';
        var up_path_length = parseInt(up_path.length)+1;
        $('#photo').on('change',function(){
            //创建数据对象
            var data = new FormData();

            //判断前一张
            var last_photo_path = $('#photo-r').attr('src');


            if(last_photo_path.length>0){
                data.append('last_photo_path',last_photo_path.substring(up_path_length));//添加上一张照片路径属性
            }
            var file = $(this)[0].files[0];
            data.append('upload_file',file);

            /*$.each($(this)[0].files,function(i,file){//添加图片
                data.append('upload_file'+i,file);
            });*/

            $.ajax({
                url: "{:url('addPhoto')}",
                datatype: "json",
                data:data,
                type: "POST",
                cache:false,
                contentType:false,
                processData:false,
                beforeSend:function(){
                    jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                error: function(request) {
                    layer.close(jz);
                    swal("网络错误!", "", "error");
                },
                success: function(data) {
                    //关闭加载层
                    layer.close(jz);
                    if(data.code == 1){
                        console.log(data);
                        var photo_path='__UPLOADS__/'+data.data;
                        $('#photo-r').attr('src',photo_path);
                        $('.photo-read').removeClass('hidden');
                        /*swal(data.msg, "", "success");*/
                    }else{
                        swal(data.msg, "", "error");
                    }

                }
            });
        });//异步上传图片代码

        /*删除封面*/
        $('.cancel').click(function () {
            var last_photo_path = $('#photo-r').attr('src');
            if(last_photo_path.length>0){
                var path = last_photo_path.substring(up_path_length);

                $.ajax({
                    url: "{:url('cancelAdd')}",
                    datatype: 'json',
                    data:{
                        'photo_path':path
                    },
                    type: "POST",

                    success: function(data) {
                        if(data.code == 1){
                            $('#photo-r').attr('src','');
                            location.href="{:url('lists')}";
                        }else{
                            swal(data.msg, "", "error");
                        }

                    }
                });
            }
            else {
                location.href="{:url('lists')}";
            }
        });

        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));

        elems.forEach(function(html) {
            var switchery = new Switchery(html, {color: '#1ab394'});
        });
        var clickSendbox = document.querySelector('.js-send-click');
        var clickTopbox = document.querySelector('.js-top-click');

        /*提交*/
        $('.sub').click(function () {
            var url = "{:url('newsAdd')}";

            if (clickSendbox.checked) {
                var is_send = 1;
            }
            else {
                is_send = 0;
            }

            if (clickTopbox.checked) {
                var is_top = 1;
            }
            else {
                is_top = 0;
            }

            var path = $('#photo-r').attr('src').substring(up_path_length),
                    title = $('#title').val(),
                    link = $('#link').val(),
                    time = $('#time').val(),
                    discrpte = $('#discrpte').val(),
                    content = editor.getValue()
                    ;

            if(discrpte.length>60){
                swal("内容描述不要超过60字", "", "error");
                return false;
            }
            var data = {
                title:title,
                link:link,
                time:time,
                is_send:is_send,
                is_top:is_top,
                photo:path,
                discrpte:discrpte,
                content:content
            };

            $.ajax({
                type:"POST",
                url:url,
                data:data,// 你的formid
                async: false,
                beforeSend:function(){
                    jz = layer.load(0, {shade: false}); //0代表加载的风格，支持0-2
                },
                error: function(request) {
                    layer.close(jz);
                    swal("网络错误!", "", "error");
                },
                success: function(data) {
                    //关闭加载层
                    layer.close(jz);
                    if(data.code == 1){
                        swal(data.msg, "", "success");
                        setTimeout(function () {
                            location.href="{:url('lists')}";
                        }, 1000);
                    }else{
                        swal(data.msg, "", "error");

                    }

                }
            });

            return false;

        });

    });
</script>
</body>
</html>
