{__NOLAYOUT__}
{foreach $grades as $vo}
<li>
    <label class="label-checkbox item-content">
        <div class="open-detail"><i class="icon icon-menu"></i></div>
        <div class="item-inner">
            <div class="item-title-row">
                <div class="item-title">{$vo.name}</div>
            </div>
            <div class="item-subtitle">{$vo.des}</div>

            <div class="list-block media-list check-list">
                <ul style="height: auto;overflow: auto;padding-left: 0">
                    {foreach $vo.children as $vo1}
                    <li class="li">
                        <label class="label-checkbox item-content">
                            <input type="radio" name="radio" value="{$vo1.id}">
                            <div class="item-media"><i class="icon icon-form-checkbox"></i></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{$vo1.name}</div>
                                </div>
                            </div>
                        </label>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
    </label>
</li>
{/foreach}